<div class="container">
<h2><%= link_to "Klientai", clients_path %>    <%= link_to "Darbuotojai", workers_path %></h2>
  <table class="table table-responsive table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Position</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @workers.each do |worker| %>
        <tr>
          <td><%= worker.id %></td>
          <td><%= worker.name %></td>
          <td><%= worker.surname %></td>
          <td><%= worker.position %></td>
          <td><%= worker.email %></td>
          <td><%= link_to "View", show_worker_path(worker), class: "btn btn-default" %></td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
